/* App.css */

/* Basic styling for the entire app */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Style for the header */
.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Sidebar styling */
.sidebar {
  background-color: #f2f2f2;
  width: 200px;
  padding: 20px;
}

/* Navigation links styling */
.nav-link {
  display: block;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-link:hover {
  background-color: #ddd;
}

/* Main content area styling */
.main {
  flex-grow: 1;
  padding: 10px;
}

/* Style for the footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Style for the navigation links in the Layout component */
nav {
  background-color: #34495e; /* Dark blue */
  color: white;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: left;
  z-index: 10;
}

nav ul li {
  margin: 0 10px;
}

/* Styling for navigation links */
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: blue; /* Red on hover */
}

/* Styling for active navigation link */
nav a.active {
  color: blue; /* Red */
}

/* AddQMSRequirements.css */

.content{
  max-width: 75%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
  resize: vertical;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover{
  background-color: #2980b9;
}

/*dropdown menu*/
/* Style for navigation links in the Layout component */
nav {
  background-color: #34495e; /* Dark blue */
  color: white;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: left;
}

.nav-list li {
  margin: 0 10px;
}

/* Styling for dropdown menu */

/* Style for navigation links in the Layout component */
nav {

  color: white;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: left;
}

.nav-list li {
  margin: 0 10px;
}

.nav-list-right{
  list-style: none;
  display: flex;
  justify-content: right; 
  /*make right nav on the right side*/
  margin-left: auto;
}
.nav-header{
  background-color: #34495e; 
  display: flex;
}

/* Styling for dropdown menu */
.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown > span {
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #34495e;
  border: 1px solid #ccc;
  padding: 10px;
  top: 100%;
  left: 0;
  width: 150px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown.active > .dropdown-menu {
  display: block;
}

/*Make css for file_dialouge*/

.file_dialouge .dropzone{
  text-align: center;
  background-color: lightgray;
  border: 1px dotted black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.file_dialouge button{
  background-color: grey;
}

.file_dialouge button:hover{
  background-color: rgb(97, 96, 96);
}

.file_dialouge aside{
  text-align: left;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}

.input-field {
  margin-bottom: 10px;
  width: 100%;
}

.button {
  width: 100%;
}

.flowchart-content{
  height: 800px;
}

.flowchart-title{
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}